<!DOCTYPE html>

<html lang="pt-br" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Projeto</title>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    </head>

    <body>
        <div class="container" id="app">
            <header>
                <img src="hearder-img.jpg" alt="notebook com códigos de programação" class="img-fluid rounded" />
            </header>

            <main>
                <h1 class="text-center my-3">Cadastro de Usuário</h1>

                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="nomeUsuario" class="form-label">Nome</label>
                                <input type="text" class="form-control" id="nomeUsuario" placeholder="José Carlos Alves" v-model="nome" />
                            </div>

                            <div class="mb-3">
                                <label for="telefone" class="form-label">Telefone</label>
                                <input type="text" class="form-control" id="telefone" placeholder="(00) 00000-0000" v-model="telefone" />
                            </div>

                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="exemplo@email.com" v-model="email" />
                            </div>

                            <div class="mb-3">
                                <label for="senha" class="form-label">Senha</label>
                                <input type="password" class="form-control" id="senha" placeholder="senha123" v-model="senha" />
                            </div>

                            <div class="d-grid my-4" v-if="verificarCampos()">
                                <button @click="cadastrar()" class="btn btn-light">Cadastrar</button>
                            </div>
    
                            <div class="d-grid my-4" v-else>
                                <button class="btn btn-outline-light" disabled>Cadastrar</button>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Telefone</th>
                                        <th>Email</th>
                                        <th>Senha</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr v-for="(usuario, index) in listaUsuarios">
                                        <td>{{ usuario.nome }}</td>
                                        <td>{{ usuario.telefone }}</td>
                                        <td>{{ usuario.email }}</td>
                                        <td>{{ usuario.senha }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </main>

            <footer></footer>
        </div>
    </body>

    <script src="vue.min.js"></script>
    <script src="script.js"></script>
</html>
